<!--
     Copyright (C) 2024 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.DeviceAsWebcam.overlay.xiaomi">
    <overlay android:targetPackage="com.android.DeviceAsWebcam"
                   android:isStatic="true"
                   android:priority="600"/>
</manifest>
